# Godot 4+ specific ignores
.godot/
*.exe
*.pck
.claude
export_presets.cfg
addons/*
!addons/rmsmartshape/
*.tmp
*.apk
launcher/requirements.txt
launcher/launcher.spec
launcher/build/
launcher/dist/
lucasyandroid.apk.idsig
